{% extends 'base.html' %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row">
          <h1>Мои навыки</h1>
  
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Python
              </li>
              <li class="list-group-item">
                JavaScript
              </li>
              <li class="list-group-item">
                SQL
              </li>
              <li class="list-group-item">
                Django
              </li>
              <li class="list-group-item">
                Linux
              </li>
            </ul>
          </aside>  
          <article class="col-12 col-md-9">
            <p><h2>Рандомный текст про технологии</h2>
                Современные технологии изменили мир до неузнаваемости. Благодаря технологиям в двадцатом и двадцать первом веках были совершены достижения, которые произвели революцию в нашей жизни.
              
              Одной из областей, где современные технологии являются наиболее важными, является сфера общения. Благодаря Интернету, пользователи могут мгновенно связываться между собой, находясь в любом месте планеты. IT технологии расширили наши возможности, благодаря сотовым телефонам и другим устройствам, обеспечивающим постоянную связь с глобальной сетью.
              
              Другая область, где компьютеры и Интернет стали чрезвычайно важными, - это образование. Компьютеры могут хранить большие объемы данных в очень маленьком пространстве, сокращая целые полки со справочниками до одного компакт-диска с данными. Интернет также служит огромным ресурсом для обучения, связывая вместе информационные сайты и позволяя любопытным искать практически любую тему, какую только можно вообразить. Один компьютер может хранить сотни образовательных игр, аудио- и визуальных уроков, а также обеспечивать доступ к огромным знаниям для студентов. В классе виртуальные доски заменяют обычные, позволяя учителям предоставлять интерактивный контент для учащихся и воспроизводить учебные фильмы без необходимости установки проектора.
            </p>
          </article>
        </div>
      </div>
    </main>
{% endblock %}
