{% extends 'base.html' %}
{% block title %}Пост подробно {{post.text|truncatechars:30}}{% endblock %}
{% block header %}Пост: {{post.text|truncatechars:30}} {% endblock %}
{% block content %}
{% load thumbnail %}

<style>
  li {list-style-type: none;}

  .h1 {margin-top: 15px;}
  .post_image {width: 350px;}
  .col-xs-4, .row{ display: inline-block; }
  
</style>

<a href="{% url 'posts:profile' post.author.username %}"  name="button" value="register" class="btn btn-primary"> {{ post.author.username }} </a>
    <div class="pb-3">
      <h1 class="h1">{{ post.title}}</h1>
    </div>
    <div class='post_image'>
      {% thumbnail post.image "960" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
    </div>


    <div class="row">
      <article class="col-12 col-md-9">

        <p class="text">           
          {{ post.text|linebreaks }}
        </p>
      </article>
      
        <p class='data'>
          {{ post.pub_date|date:"d E Y" }}
        </p>

       

        
    








    <div class="row">
      <div class="col-xs-4">

        {% if author == user %} 
        <a href="{% url 'posts:post_edit' post.pk %}">
          <button type="button" class="btn btn-outline-danger">Редактировать запись</button>
        </a>
        {% endif %}

        {% if post.group %}
          <a href="{% url 'posts:group_posts' post.group.slug %}" name="button" value="cancel" class="btn btn-secondary"> {{ post.group.title }} </a>
        {% endif%}

      </div>
      
    </div>










        {% include 'posts/includes/comments.html' %}
      </article>
    </div>

{% endblock %}